<!DOCTYPE html>
<html>
    <!-- Page with informtioan about the process involved -->
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title> DeepEyeFlyAI </title>
    </head>

    <body>
        <h1>DeepEyeFlyAI</h1>

        <ul class="topnav">
            <li><a href="{{ url_for('newflyweb') }}">Home</a></li>
            <li><a href="{{ url_for('fprocess') }}">The Process</a></li>
            <li><a href="{{ url_for('newflyupload') }}">Upload for Eye</a></li>
            <li><a href="{{ url_for('ODA') }}">Upload for Odometry</a></li>
            <li><a href="{{ url_for('flywelfare') }}">Fly Welfare</a></li>
            <li><a href="{{ url_for('resultsf') }}">Eye Head Results</a></li>
            <li><a href="{{ url_for('oda_results') }}">ODA Results</a></li>
            <li><a href="{{ url_for('timespan') }}">Timespan Viewer</a></li>
            <li><a href="{{ url_for('export') }}">Export Data</a></li>
            
            {% if session.get("user") %}
                <li class="right">
                    <a href="{{ url_for('logout') }}">Logout ({{ session.get("user") }})</a>
                </li>
                {% else %}
                 <li class="right">
                    <a href="{{ url_for('flogin') }}">Login</a>
                </li>
            {% endif %}
            
        </ul> 

        <h1>Our Process</h1>

        <div class="content-row">

            <div class="text-box">
                <h2>Our Process</h2>
                <p>
                Here at DeepFlyAI we strive at getting the data you need for your flies and their eyes,
                as accurately and efficiently as possible. Our next generation fly eye measuing model gurantees excellent results.
                </p>
                <p>
                Our results are thus displayed in the format you will see on the right side of this page showing the area of the fly eyes.
                </p>
                <p>
                From validated user accounts we can also garenteee results remain consitstnet and stable across the entire dataset.
                </p>
                {% if session.get("user") %}
                <p>
                As you are logged in, you have access to our data uploads, data comparision and Visualisation and exporting these results for local use.
                </p>
                {% else %}
                <p>
                To access our results and upload your own images, please create a free account or login to your account.
                </p>
                {% endif %}
            </div>

            <img src="{{ url_for('static', filename='images/annotated_example.png') }}" alt="eyes" width="500" class="image-padding">
        </div>
    </body>
</html>
